.navbar {
padding: 30px;
background: #2c3e50;
}
.navbar-brand {
color: #fff;
font-size: 30px;
font-weight: bolder;
}
.nav-link {
color: #fff;
font-size: 18px;
font-weight: bold;
}
.activeLink {
background-color: #1abc9c;
border-radius: 5px;
}