<div id="contact" class="d-flex justify-content-center align-items-center">

    <div class="container pt-5">
        <h1 class="text-center">CONTACT SECTION</h1>
        <div class="d-flex justify-content-center align-items-center m-3">
            <div class="line"></div>
            <i class="fa-solid fa-star m-3"></i>
            <div class="line"></div>
        </div>

        <section class="w-50 m-auto pt-3">
            <label for="userName"></label>
            <input type="text" id="userName" class="form-control border-0 border-bottom mb-3" placeholder="userName :">
            <label for="userAge"></label>
            <input type="number" id="userAge" class="form-control border-0 border-bottom mb-3 " placeholder="userAge :">
            <label for="userEmail"></label>
            <input type="email" id="userEmail" class="form-control border-0 border-bottom mb-3 " placeholder="userEmail :">
            <label for="userPassword"></label>
            <input type="password" id="userPassword" class="form-control border-0 border-bottom mb-3 " placeholder="userPassword :">
            <button class="btn mb-5 text-white">send Message</button>
        </section>
    </div>
    
</div>
