<div id="portfolio" class="mb-3">
    
    <div class="container pt-5 text-center">
        <h1>PORTFOLIO COMPONENT</h1>
        <div class="d-flex justify-content-center align-items-center m-3">
            <div class="line"></div>
            <i class="icon fa-solid fa-star m-3"></i>
            <div class="line"></div>
        </div>

        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/poert1.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/port2.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/port3.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/poert1.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/port2.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="./assets/port3.png" alt="" class="w-100">
                    <div class="layer">
                        <div class="icon">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
