#home {
min-height: 95vh;
padding: 70px;
background-color: #1abc9c;
}
img {
width: 20%;
}
h1 {
color: #fff;
font-size: 40px;
font-weight: bolder;
}
.line {
width: 100px;
height: 5px;
background-color: white;
}
i , p{
color: #fff;
}